p {
    color:rgb(236, 202, 202)
}
h1 {
    color:azure
}
h2 {
    color:azure
}
ins{
    color:azure
}
ul{
    color:azure
}
a {
    color:royalblue
}

.tarjeta{
    background-color: #363636;
    width: 400px;
    height: 620px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.cajaDeTarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AR:wght@100..400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    font-weight: 300;
}

body {
    background-color:crimson
}

.header{
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0,3s;
}